
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body{
  background-color: #eee;
  /* font-family: Helvetica, Arial, sans-serif; */
  /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}


/*---------------------------------------
       PRE LOADER              
  -----------------------------------------*/

  .load{
    width: 100%;
    height: 100vh;
    z-index: 100000;
    background-color: #243c5e;
    display: flex;
    position: fixed;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }


  .load img {
      height: 200px;
      width: 200px;
      position: absolute;
      border-radius: 20%;
      -webkit-animation: breathing 2s ease-out infinite normal;
      animation: breathing 2s ease-out infinite normal;
      -webkit-font-smoothing: antialiased;
      /* animation: spinlogo 2s linear infinite; */
  }

  @-webkit-keyframes breathing {
    0% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    25% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    60% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    100% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  
  @keyframes breathing {
    0% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    25% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  
    60% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    100% {
      -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  }



/* width */
::-webkit-scrollbar {
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(34, 58, 88, 1);
  /* box-shadow: inset 0 0 5px #552075;  */
  /* border-radius: 10px; */
}
 

.carousel-control-next-icon, .carousel-control-prev-icon{
  background-color: rgba(34, 58, 88, 0.5);
  padding: 20px;
}


.carousel-control-next-icon:hover, .carousel-control-prev-icon:hover{
  background-color: rgba(34, 58, 88, 0.9);
}
.carousel-control-prev{
  justify-content: start;
}

.carousel-control-next{
  justify-content: end;
}

/* Button */

.parallax{
  background-image: url("../images/slider/ktaxvii.jpg");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-0 {
  margin: 10px 0;
  background-color: #536DFE;
}

.profile {
  background-color: transparent;
  border: none;
}

.profile-pic {
  width: 8em;
  height: 8em;
  border-radius: 50%;
  border: 5px solid #F29D35;
  margin-left: auto;
  margin-right: auto;

}

.testi-name{
  color: #F29D35;
  font-size: 1.2em;
}

.testi-campus{
  color: #F29D35;
  font-size: .9em;
}

.quote{
  padding: 0 40px 20px 40px;
}
.open-quotes{
  padding: 10px 0;
}

.close-quotes{
  padding: 10px 0;
}

.content{
  color: white;
  text-align: center;
}

.pp2, .nn2{
  border: none;
  background-color: transparent;
  color: white;
  padding: 20px 0;
  font-size: 1.5em;
}

.prev-keg, .next-keg{
  border: none;
  background-color: transparent;
  color: white;
  padding: 20px 0;
  font-size: 1.5em;
}

.prev2, .next2{
  border: none;
  color: #0A6AA6;
  background-color: transparent;
  padding: 20px 0;
  font-size: 1.5em;
}

.prev2:hover, .next2:hover{
  color: #233A59;
}

.pp2:hover, .nn2:hover{
  color: #F29D35;
}


.testi_video{
  text-align: center;
}

.card-kegiatan{
  border-radius: 20px;
  overflow: hidden;
  border: 3px solid #F29D35;
}

.kegiatan {
  position: absolute;
  margin: 0;
  bottom: -25%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: wheat;
  text-shadow: -2px 2px 0 #000,
                1px 1px 0 #000,
                1px -1px 0 #000,
                -1px -1px 0 #000;
  letter-spacing: .2rem;
  /* height: 15%; */
  padding: 40px 0 35px 0;
  background-image: linear-gradient(to top,rgb(255,213,79) , transparent);
}

.image-kegiatan{
  min-height:300px
}

.lokasi-gambar{
  overflow: hidden;
}

.kinasih{
  transform: scale(1.4);
  filter: blur(1px);
  transition: transform .5s ease-in-out, filter 1.2s ease-in-out;
}

.kinasih:hover, .kinasih:active {
  transform: scale(1);
  filter: blur(0);
}
.card-kapsel {
  width: 100%;
  height: 360px;
  border-radius: 15px;
  padding: 1.5rem;
  background: white;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5); 
}

    
.card-kapsel:hover:before {
      opacity: 1; 
}
    
.card-kapsel:hover .info {
      opacity: 1;
      transform: translateY(0px); 
}

.card-kapsel:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(35,58,89, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0; 
}

.card-kapsel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px; 
}

.card-kapsel .info {
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s; 
}
    
.card-kapsel .info h1 {
      margin: 0px; 
      font-family: 'Inter', sans-serif;
}
  
.card-kapsel .info p {
      letter-spacing: 1px;
      font-size: 15px;
      font-weight: bolder;
      font-family: 'Inter', sans-serif;
}


.btn-kapsel{
  background-color: #233a59;
  color: #ffffff;
  font-weight: 300;
  letter-spacing: 2px;
  font-family: 'Inter', sans-serif;
  border: 2px solid white;

}

.btn-kapsel:hover{
  background-color: #0a6aa6;
  color: #F29D35;
  font-weight: 300;
  letter-spacing: 2px;
  font-family: 'Inter', sans-serif;

}


@media screen and (min-width: 600px) {
  .kegiatan {
    bottom: -20%;
  }
}

@media only screen and (min-width: 992px){
  .carousel-item img {
    height: calc(100vh - 70px);
  }
  #social{
    text-align: right;
  } 
  
  .kegiatan {
    bottom: -15%;
  }
  
  #slide1{
    margin-top:-160px;
  }

  
  .card-0 {
    color: #FEFDFF;
    background-color: #0A6AA6;
    position: relative;
    margin-left: 70px;
    border-radius: 10px;
    min-height: 312px;
  }


  .profile {
    color: #000;
    background-color: #F29D35;
    position: absolute;
    left: -70px;
    top: 30%;
    border-radius: 8px;
    border-top-left-radius: 0px; 
    border-bottom-right-radius: 0px; 
  }

  .profile-pic {
    width: 120px;
    height: 120px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .testi-name{
    font-size: .8em;
    color: #233A59;
  }

  .testi-campus{
    font-size:0.7em;
    color: #233A59;
  }

  .open-quotes {
    margin-left: 130px;
    margin-top: 20px;
  }

  .content {
    margin-left: 150px;
    margin-right: 80px;
    color: #FEFDFF;
    letter-spacing: 1px;
  }

  .close-quotes {
    margin-bottom: 20px;
    margin-right: 60px
  }

  .pp2, .nn2, .prev-keg, .next-keg, .prev2, .next2{
    padding: 0;
    font-size: 1em;
  }

}
